name: Python CI

on:
  push:
    branches: [ main ]  

jobs:
  build:

    runs-on: windows-latest  # æˆ– ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - name: Run tests
      run: |
        pytest
